/* ====================================================================================================================== *
 * === Theo Pak | TSA Cyberspace Pursuit 2010-2011 ====================================================================== *
 * ====================================================================================================================== *
 * This style.css uses the excellent reset, font normalization, base styles, and shameless hacks of the HTML5✰Boilerplate *
 * project (build 2011 Mar 21). (Mandatory kudos by proxy: yui.yahooapis.com/2.8.1/build/base/base.css,                   *
 * camendesign.com/design/, praegnanz.de/weblog/htmlcssjs-kickstart).                                                     *
 * ====================================================================================================================== */

/* Import Extra Stylesheets (buildscript mixes this down automatically) ================================================= */
@import url('slimbox2.css');

/* html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline) ====================================== *
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark | html5doctor.com/html-5-reset-stylesheet/                     */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, 
em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, 
hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }


/* Font normalization inspired by YUI Library's fonts.css (developer.yahoo.com/yui/) ==================================== */
body { font:16px/1.2 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }
/* Normalize monospace sizing: en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/* Minimal base styles ================================================================================================== */
html { overflow-y: scroll; } /* Always force a scrollbar in non-IE */
a:hover, a:active { outline: none; } /* Accessible focus treatment (people.opera.com/patrickl/experiments/keyboard/test) */
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
header nav ul, nav li { margin: 0; list-style:none; list-style-image: none; } /* Remove margins for navigation lists */
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; } /* Set sub, sup without   */
sup { top: -0.5em; }                                             /* affecting line-height: */
sub { bottom: -0.25em; }                                         /* gist.github.com/413930 */
pre {
	white-space: pre; white-space: pre-wrap; word-wrap: break-word; /* www.pathf.com/blogs/2008/05/formatting-quoted- */
	padding: 15px;                                                  /* code-in-blog-posts-css21-white-space-pre-wrap/ */
}
textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }      /* Align checkboxes, radios,          */
input[type="checkbox"] { vertical-align: bottom; }        /* text inputs with their             */
.ie7 input[type="checkbox"] { vertical-align: baseline; } /* label by: Thierry Koblentz         */
.ie6 input { vertical-align: text-bottom; }               /* tjkdesign.com/ez-css/css/base.css  */
label, input[type="button"], input[type="submit"], input[type="image"],
	button { cursor: pointer; } /* Hand cursor on clickable input elements */
button, input, select, textarea { margin: 0; } /* Webkit browsers add a 2px margin outside the chrome of form elements */
input:valid, textarea:valid { }   /* Colors for form validity */
input:invalid, textarea:invalid { border-radius: 1px;
	-moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; } /* No text-shadow when text is selected:    */
::selection { background:#FF5E99; color:#fff; text-shadow: none; }      /* twitter.com/miketaylr/status/12228805301 */
a:link { -webkit-tap-highlight-color: #FF5E99; } /* j.mp/webkit-tap-highlight-color */
button {  width: auto; overflow: visible; } /* Make button play nice in IE (Vidget Inspire: "...the Button Element...") */
.ie7 img { -ms-interpolation-mode: bicubic; } /* Bicubic resizing (code.flickr.com/blog: "...Client Side Image Resizing") */


/* You might tweak these.. ============================================================================================== */
body, select, input, textarea {
	color: #444; /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
	font-family: Georgia, serif; /* base font here, to apply evenly */
}
h1, h2, h3, h4, h5, h6 { font-weight: bold; } /* reset headers have no default font-size or margin */
a { color: #607890; }
a:hover { color: #036; }


/* Primary styles ======================================================================================================= *
 * Author: Theo Pak (http://theopak.com) ================================================================================ */
/* --- global ----------------------------------------------------------------------------------------------------------- */
body {
	background-color: #CCC;
	background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#DDD)); /* webkit */
	background: -moz-linear-gradient(bottom,#DDD,#CCC) fixed no-repeat 0 100%; /* firefox */
}
h1, h2, h3, h4. h5 {
	margin: 0;
	padding: 0;
	font-family: Georgia,serif;
}
/* --- header ----------------------------------------------------------------------------------------------------------- */
header {
	position: relative;
	margin: 0 auto 45px;
	padding: 0 0 30px;
	width: 100%;
	height: 120px;
	background-color: #444;
	font-family: Georgia,"Times New Roman",serif;
}
header h1 {
	display: block;
	margin: 0 auto;
	padding: 0;
	min-width: 780px;
	max-width: 960px;
	width: 100%;
}
header h1 a, header h1 a:visited {
	display: block;
	margin: 0;
	padding: 10px 0 15px 90px;
	text-shadow: 0 -1px 0px rgba(0,0,0,0.5);
	font: normal 45px/90px Georgia;
	background: url(../img/logo_70.png) no-repeat left center;
	border-top: 5px solid transparent;
	color: #F3F3F3;
	text-decoration: none;
	outline: none;
}
header h1 a:hover {
	border-color: #2daebf;
	color: #FFF;
}
#container>header div#tools {
	display: block;
	margin: -30px auto 0;
	min-width: 780px;
	max-width: 960px;
	width: 100%;
}
header form {
	float: right;
	margin: 0;
	padding: 0;
	line-height: 26px;
}
header form input#s {
	margin: 0;
	padding: 0 2px;
	width: 148px;
	height: 22px;
	background: #F0F0F0 url(../img/silk_magnifier.png) no-repeat right;
	border: none;
	line-height: 22px;
	color: #666;
}
header form input#s:focus {
	color: #333;
}
/* --- navigation ------------------------------------------------------------------------------------------------------- */
header nav {
	display: block;
	margin: 0 auto;
	height: 30px;
	width: 100%;
	font-family: "MS Trebuchet",Arial,sans;
	background-color: #333;
}
header nav ul {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 0;
	min-width: 780px;
	max-width: 960px;
	width: 100%;
	list-style: none;
}
header nav ul li {
	display: inline;
	margin: 0;
	padding: 0;
}
header nav ul li a {
	display: block;
	float: left; /* I hate to do this, but it's the best way to get IE<7 to play nice with horizontal lists. */
	margin: 0;
	padding: 0 15px;
	font: bold 16px/30px "MS Trebuchet",Arial,sans;
	text-decoration: none;
	text-shadow: rgba(0,0,0,.5) 0 -1px 0px;
	color: #F0F0F0;
	outline: none;
}
header nav ul li {
	margin: 0;
	padding: 0;
}
header nav>ul>li:hover>a, header nav>ul>li.current_page_item>a, header nav>ul>li.current_page_ancestor>a {
	background-color: #2daebf;
	color: white;
}
header nav ul ul {
	position: absolute;
	top: 30px;
	left: 0;
	margin: 0;
	padding: 0;
	background-color: #444;
	border-top: 4px solid #2daebf;
	display: none;
}
/*header nav ul li:hover ul,*/ header nav ul li.current_page_ancestor ul, header nav ul li.current-menu-item ul {
	display: block;
}
header nav ul ul li a {
	font: normal 16px/22px "MS Trebuchet",Arial,sans;
	text-shadow: none;
	color: #F0F0F0;
}

header nav ul ul li a:hover, header nav ul ul li.current_page_item a {
	background-color: transparent;
	border: none;
	color: white;
}
header nav ul ul li.current_page_item a {
	font-weight: bold;
	color: #F0F0F0;
}
/* --- main section ----------------------------------------------------------------------------------------------------- */
#main {
	position: relative;
	margin: 15px auto;
	padding: 0;
	min-width: 780px;
	max-width: 960px;
	width: 100%;
	background: #F1F5FA url(../img/bg-white.jpg) repeat;
	border: 1px solid white;
	box-shadow: rgba(0,0,0,0.2) 0px 1px 5px;
	zoom: 1; filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3); /*IE box-shadow*/
	-webkit-animation: 'fadein' 1.5s;
}
section {
	position: relative;
	margin: 10px 10px;
	padding: 0;
}
article {
	position: relative;
	display: block;
	color: #333;
	overflow: hidden;
}
section h2 {
	position: absolute;
	top: -.5em;
	left: 0;
	display: inline;
	/* margin: 0 0 .75em;
	padding: 0 40px 0 10px; */
	margin: 0;
	padding: 0 40px 0 10px;
	width: auto;
	background: #FCFCFC url(../img/bg-white.jpg) repeat;
	font-size: 2.5em;
	color: black;
	clear: none;
}
section h3 {
	display: block;
	margin: 2em -10px .4em;
	padding: 7px 10px 6px;
	background-color: #EDEDED;
	border-bottom: 1px groove white;
	font: 1.2em/1em Georgia;
	font-effect: engraved;
	text-shadow: #eee 0 -1px 0;
	text-rendering: optimizelegibility;
}
section h3:first-of-type {
	margin-top: -10px;
}
section h4 {
	margin: 1.5em 0 0;
	padding: .5em 0 1em;
	border-top: 3px solid #DDD;
	font: bold 1.2em/1.2em Georgia;
}
section h4:first-of-type {
	padding-top: 0;
	border-top: none;
}
section h3 small, section h4 small {
	font-style: italic;
	font-variant: small-caps;
	font-weight: lighter;
	color: #999;
}
section a {
	background-color: transparent;
	-webkit-transition: all .3s linear;
}
section a:hover {
	background-color: #aad5ff;
}
section p {
	margin: .1em 0 1em;
	padding: 0;
}
section img {
	float: left;
	display: block;
	margin: 2px;
	padding: 1px;
}
img.frame {
	float: right;
	display: block;
	margin: 0 0 0 6px;
	padding: 3px;
	border: 1px solid #ccc;
	background-color: #E4E4E4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
img.frame.left {
	float: left;
	margin: -0 6px 0 0;
}
img.frame.center {
	float: none;
	margin: 0 auto;
}
.pan {
	display: block;
	float: none;
	margin: 4px;
	padding: 3px;
	border: 1px solid #ccc;
	background-color: #E4E4E4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	overflow: auto;
}
.pan img {
	float: none;
	margin: 0;
	padding: 0;
}
section dl {
	display: block;
	margin: 0;
	padding: 0;
}
section dl dt {
	display: block;
	margin: 1em 0 0;
	padding: 0;
	font: italic 1.1em/1em Georgia;
}
section dl dd {
	margin: 0 0;
	padding: 3px 0;
}
section cite {
	display: block;
	margin: 0;
	padding: 0 0 .25em 2.5em;
	font-style: italic;
	text-indent: -2.5em;
	color: #666;
}
section cite a {
	color: #666;
	text-decoration: none;
}
section cite a:hover {
	color: #333;
	background-color: transparent;
	text-decoration: underline;
}
section blockquote {
	display: block;
	margin: 0;
	padding: 1em 1em 1em 2.5em;
	background-color: #EEE;
}
section blockquote cite {
	display: block;
}
section blockquote cite:before {
	//content: "&#8212;&nbsp;";
	content: "- ";
}
/* --- sidebar ---------------------------------------------------------------------------------------------------------- */
#sidebar {
	display: block;
	float: right;
	margin: 0 0 0 10px;
	padding: 15px 10px 15px;
	width: 219px;
	border-left: 1px groove white;
}
#sidebar>ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#sidebar .widget {
	margin: 0 0 2em;
	padding: 0;
}
#sidebar .widget .widgettitle {
	margin: 0 0 .2em;
	padding: 0;
	font: 1.1em/1em Georgia;
}
#sidebar ul ul {
	margin: 0;
	padding: 0;
	list-style: circle inside;
}
#sidebar ul ul li a {
	text-decoration: none;
}
#sidebar ul ul li a:hover {
	text-decoration: underline;
}
/* --- featured --------------------------------------------------------------------------------------------------------- */
aside.feat {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 0;
	/*max-width: 960px;
	min-with: 780px;
	width: 100%;*/
	min-width: 720px;
	max-width: 850px;
	width: 80%;
	text-rendering: optimizelegibility;
}
aside.feat h2 {
	display: block;
	margin: 1.5em 0 0;
	padding: 0;
	font: 3.5em/1.2em 'Arial Black';
	text-align: center;
	font-effect: engraved;
	text-shadow: #eee 0 1px 0;
	color: #333;
}
aside.feat h2.ir {
	margin: 1em 0 0;
	border-bottom: 1px groove white;
	font: 4.2em/1.3em 'Arial Black';
}
aside.feat p {
	display: block;
	margin: 0 10px;
	padding: 0;
	text-align: center;
	font: 1.2em/1.2em Georgia,serif;
}
aside.feat p em {
	font-family: serif;
	font-style: oblique;
}
/* --- special ---------------------------------------------------------------------------------------------------------- */
ul.info {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.info li {
	padding: 0 15px;
	cursor: pointer;
}
ul.info li h4 {
	display: inline;
	margin: 0;
	padding: 8px 0 2px;
	font-effect: engraved;
	text-shadow: #DDD 0 -1px 0;
	color: #444;
}
ul.info li span {
	font: 14px/14px sans;
	vertical-align: baseline;
	color: #666;
	visibility: hidden;
}
ul.info li:hover span {
	visibility: visible;
}
ul.info li small {
	display: block;
	margin: 0;
	padding: 0;
	font: 14px/14px sans;
}
ul.info li p {
	color: #666;
}
ul.info li strong {
	font-style: oblique;
	font-weight: normal;
}
/* --- footer ----------------------------------------------------------------------------------------------------------- */
footer {
	position: relative;
	margin: 0 auto;
	padding: 0;
	min-width: 780px;
	max-width: 960px;
	width: 100%;
	height: 250px;
}
footer section {
	position: absolute;
	margin: 0;
	padding: 0 10px 15px 0;
	width: 300px;
	height: auto;
	background-color: transparent;
	border: none;
	color: #666;
}
footer section h1 {
	float: none;
	display: block;
	margin: 0 0 15px;
	padding: 0 10px 0 0;
	width: 320px;
	border-top: 1px groove white;
	border-bottom: 1px groove white;
	font: 2em/50px Georgia;
	color: #333;
}
footer section p {
	margin: 1em 0 0;
	text-align: justify;
	color: #666;
}
footer aside {
	margin: 0 0 15px 320px;
	padding: 0 10px;
	height: 50px;
	border-top: 1px groove white;
	border-bottom: 1px groove white;
	line-height: 50px;
	overflow: hidden;
}
ul#sitemap {
	display: table;
	margin: 0 0 1em 320px;
	padding: 0;
	list-style: none;
}
ul#sitemap>li {
	float: left;
	display: block;
	margin: 0;
	padding: 0 10px 15px;
	width: 140px;
	height: 80px;
}
ul#sitemap>li>a {
	font-weight: bold;
}

ul#sitemap * {
	display: block;
	color: #333;
	text-decoration: none;
	font-family: "MS Trebuchet",Arial,sans;
}
ul#sitemap h3 {
	display: block;
	margin: 0;
	padding: 0 10px;
	border-bottom: 1px groove white;
}
ul#sitemap ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul#sitemap ul li a {
	color: #666;
}
ul#sitemap ul li a:hover {
	text-decoration: underline;
}
ul#sitemap ul li a.current {
	color: #333;
}
footer #about_hp {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 758px;
}
footer small {
	display: block;
	margin: 1em auto;
	padding: 0;
	width: 758px;
	color: #666;
	text-align: center;
}
footer a.button {
	float: right;
	color: #666;
}
footer a.button:hover {
	color: #333;
}
/* --- animations ------------------------------------------------------------------------------------------------------- */
@-webkit-keyframes 'fadein' {
	from { opacity: 0; }
	to { opacity: 1; }
}


/* Non-semantic helper classes: please define your styles before this section. ========================================== */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; /* For image replacement */
	text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } /* Hide for both screenreaders and browsers ("Screenreader Visibility") */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; /* Hide only visually, but have it available */
	overflow: hidden; padding: 0; position: absolute; width: 1px; }          /* for screenreaders: by Jon Neal            */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { 
	clip: auto;height: auto; margin: 0; overflow: visible; /* Extends .visuallyhidden  to allow the element to be focused */
	position: static; width: auto; }                       /* when navigated to via keyboard (drupal.org/node/897638)     */
.invisible { visibility: hidden; } /* Hide visually and from screenreaders, but maintain layout */
.clearfix:before, .clearfix:after { content: "\0020"; /* The Magnificent Clearfix: Updated to prevent margin-collapsing */
	display: block; height: 0; overflow: hidden; }    /* on child elements. - j.mp/bestclearfix                         */
.clearfix:after { clear: both; }                      /* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/   */
.clearfix { zoom: 1; }                                /* tickets/5-extra-margin-padding-bottom-of-page                  */


/* Media queries for responsive design. ================================================================================= *
 * These follow after primary styles so they will successfully override.                                                  */
@media all and (orientation:portrait) { /* Style adjustments for portrait mode goes here */ }
@media all and (orientation:landscape) { /* Style adjustments for landscape mode goes here */ }
@media screen and (max-device-width: 480px) {
	/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome) consider this: *
	 * www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/                          */
	/* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
	/* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/* Print styles. ======================================================================================================== *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/                                */
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
	-ms-filter: none !important; } /* Black prints fastest (sanbeiji.com/archives/953) */
	a, a:visited { color: #444 !important; text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, /* Don't show links for images  */
		a[href^="#"]:after { content: ""; }    /* or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
	tr, img { page-break-inside: avoid; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
}
